name: 'Org-Wide Gitleaks Scan'

# This is the special trigger that allows the workflow to be called by other repos.
on:
  workflow_call:
    secrets:
      GITLEAKS_LICENSE_PASSED:
        description: 'The license key for gitleaks'
        required: true

jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Caller Repository Code
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.repository.full_name }}
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Run Gitleaks Scan
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE_PASSED }}
          GITLEAKS_CONFIG: ".github/gitleaks.toml"
          